*{
    margin: 0;
    padding: 0;
    /* A trick Ali Qadeer taught me last semester to get rid of the annoying white bars on full bleed webpages */
    font-family: 'Roboto', sans-serif;
}
.home_button{
    width: 5%;
    position: absolute;
    padding: 10px;
}

.home_button:hover{
    opacity: 80%;
}

body{
    background-color: lavenderblush;
}
#sidebar{
    position: fixed;
    width: 30%;
    height: 100vh;
    background-color: black;
    text-align: center; 
}

h1{
    color: white;
    padding-top: 130px;
    padding-bottom: 5px;
    letter-spacing: 1pt;
}
h2{
    
    color: orchid;
    font-weight: 200;
    font-size: 16pt;
}
h3{
    color: white;
    padding-top: 100px;
    line-height: 32pt;
    font-weight: 200;
    letter-spacing: 1pt;
    font-size: 12pt;
    text-align: center;
}
.grey{
    color: slategray;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{ 
    color: orchid;
}

#container{
    margin-left: 40%;
    margin-right: 5%;
    padding-top: 70px;
}

/* BODY CONTENT */

h4{
    font-weight: 900;
    font-size: 18pt;
    color: rgb(160, 76, 157);
    padding-bottom: 10px;
    padding-top: 60px;
}
p{
    padding-bottom: 8pt;
    font-size: 11pt;
}
em{
    font-weight: bold;
    font-style: normal;
}
ul{
    margin-left: 40px;
    font-size: 11pt;
}
li{
    padding: 2px;
    width: 400px;
}
.link{
    color: orchid;
}
.link:hover{
    color: rgb(160, 76, 157);
}
#eye_img{
    width: 300px;
    float: right;
    margin: 20px;
    margin-top: 0px;
}

#ocad_img{
    width: 150px;
    border: 3px solid black;
    float: right;
    margin: 20px;
}
#insta_wrap{
    display: block;
    margin: auto;
    float:none;
}
#img_insta1{
    width: 400px;
    float: left;
    padding-bottom: 100px;
    padding-left: 60px;
}
#img_insta2{
    width: 210px;
    float: left;
    padding-left: 20px;
}
#img_insta3{
    width: 210px;
    float: inline-end;
    padding-left: 20px;
    padding-top: 20px;
}

#clickMe{
    border: 5px solid orchid;
    background-color: white;
    border-radius: 45px;
    width: 300px;
    height: 75px;
    margin-left: 30%;
    margin-top: 30px;
    text-align: center;

    
}
#clickMe:hover{
    background-color: rgb(247, 222, 230);
}
#clickMe_p{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 250px;
    color: rgb(160, 76, 157);
    font-size: 14pt;
    font-weight: 600;
}
#clickMe_cap{
    text-align: center;
    padding-top: 15px;
}